<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="nami" >

  <!-- <xacro:include filename="$(find nami)/urdf/quad/nami.urdf_without_battery.xacro" /> -->
  <xacro:include filename="$(find nami)/urdf/quad/nami.urdf.xacro" />
  <xacro:include filename="$(find nami)/urdf/quad/common.xacro" />

  <xacro:nami_center_link child1="1" child2="2" child3="3" child4="4"/>
  <xacro:nami_thrust_link_forward self="1" rotor_direction="1"/>
  <xacro:nami_thrust_link_backward self="2" rotor_direction="-1"/>
  <xacro:nami_thrust_link_forward self="3" rotor_direction="1"/>
  <xacro:nami_thrust_link_backward self="4" rotor_direction="-1"/>

  <!-- aquatic actuators: logical motor 4~7 (thrust5..8), used only in underwater mode -->
  <xacro:nami_aquatic_actuator self="1" motor_id="5" rotor_direction="1"/>
  <xacro:nami_aquatic_actuator self="2" motor_id="6" rotor_direction="-1"/>
  <xacro:nami_aquatic_actuator self="3" motor_id="7" rotor_direction="1"/>
  <xacro:nami_aquatic_actuator self="4" motor_id="8" rotor_direction="-1"/>

</robot>
