<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="nami" >

  <xacro:macro name="nami_center_link" params="child1 child2 child3 child4">
    <!-- link -->
    <!-- root link (virtual) -->
    <link name="root">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- base link head (without spinal on) -->
    <link name="base_link_head">
      <inertial>
      <!-- the relative pos of cog compared to the origin of this link  -->
      <!-- because right now the origin of base_link has been configured to  the base_link of solidworks-->
        <origin xyz="0.175258 -0.000028 -0.044508" rpy="0 0 0"/>
        <mass value="1.044751"/>
        <inertia
            ixx="0.002486" iyy="0.007151" izz="0.006943"
            ixy="-0.000003" ixz="-0.000100" iyz="0.000001"/>
      </inertial>
      <visual>
        <origin xyz="0.032 -0.01550 0.01850" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nami/urdf/quad/mesh/base_link_head_0815.dae" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.175258 -0.000028 -0.044508" rpy="0 0 0"/>
        <geometry>
          <box size="0.44154 0.21502 0.24898"/>
        </geometry>
      </collision>
    </link>
    <xacro:damping_factor link="base_link_head"/>

    <link name="virtual_base_link_tail">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>  

    <!-- base link tail (with spinal on top of it) -->
    <link name="base_link_tail">
      <inertial>
        <origin xyz="-0.0662323 0.0515895 0.0785822" rpy="0 0 0"/>
        <mass value="1.0763413"/>
        <inertia
            ixx="0.0062498" iyy="0.0128023" izz="0.0102791"
            ixy="0.0000131" ixz="0.0017566" iyz="-0.0000204"/>
      </inertial>
      <visual>
        <origin xyz="0.037965 0.052 0.058093" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nami/urdf/quad/mesh/base_link_tail_0815.dae" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.0662323 0.0515895 0.0785822" rpy="0 0 0"/>
        <geometry>
          <box size="0.445 0.24 0.4368"/>
        </geometry>
      </collision>
    </link>
    <xacro:damping_factor link="base_link_tail"/>

    <!-- rotor coord link (virtual) -->
    <link name="rotor_arm${child1}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <link name="rotor_arm${child2}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <link name="rotor_arm${child3}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <link name="rotor_arm${child4}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- fcu frame -->
    <link name="fc">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- joints -->
    <!-- fixed frames (virtual) -->
    <joint name="root_joint" type="fixed">
      <parent link="root"/>
      <child link="base_link_tail"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="fc_joint" type="fixed">
      <parent link="base_link_tail"/>
      <child link="fc"/>
      <origin xyz="0.021965 0.027001 0.138863" rpy="0 0 ${pi}"/>
      <axis xyz="0 0 1"/>
    </joint>

        <!-- virtual yaw joint of baselink -->
    <joint name="virtual_yaw_joint" type="fixed">
      <parent link="base_link_tail"/>
      <child link="virtual_base_link_tail"/>
      <origin xyz="0.03797 0.052 0.02909" rpy="0 0 0"/>
    </joint>

    <!-- yaw joint of baselink -->
    <joint name="yaw_joint" type="revolute">
  <!-- //TODO Modify the joint limits according to the cad model -->
      <limit effort="6.6" lower="-1.57" upper="1.57" velocity="3.0"/>
      <parent link="virtual_base_link_tail"/>
      <child link="base_link_head"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="0.8" friction="0.0"/>
    </joint>

    <!-- rotor coord link joint (virtual) -->
    <!-- the forward link -->
    <joint name="rotor_coord_joint${child1}" type="fixed">
      <parent link="base_link_head" />
      <child link="rotor_arm${child1}"/>
      <origin xyz="0.23475 0.203 0.06195" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <joint name="rotor_coord_joint${child2}" type="fixed">
      <parent link="base_link_head"/>
      <child link="rotor_arm${child2}"/>
      <origin xyz="0.23475 -0.203 0.06195" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <joint name="rotor_coord_joint${child3}" type="fixed">
      <parent link="base_link_tail"/>
      <child link="rotor_arm${child3}"/>
      <origin xyz="-0.21585 -0.151 0.09105" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
  
    <joint name="rotor_coord_joint${child4}" type="fixed">
      <parent link="base_link_tail"/>
      <child link="rotor_arm${child4}"/>
      <origin xyz="-0.20979 0.255 0.09105" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- gimbal link joint -->
    <joint name="gimbal${child1}" type="fixed">
      <limit effort="6.6" lower="-1.57" upper="1.57" velocity="3.0"/>
      <parent link="rotor_arm${child1}"/>
      <child link="gimbal_link_forward${child1}"/>
      <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
      <axis xyz="0 0 1"/>
    </joint>

    <joint name="gimbal${child2}" type="fixed">
      <limit effort="6.6" lower="-1.57" upper="1.57" velocity="3.0"/>
      <parent link="rotor_arm${child2}"/>
      <child link="gimbal_link_backward${child2}"/>
      <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
      <axis xyz="0 0 1"/>
    </joint>
  
  <joint name="gimbal${child3}" type="fixed">
      <limit effort="6.6" lower="-1.57" upper="1.57" velocity="3.0"/>
      <parent link="rotor_arm${child3}"/>
      <child link="gimbal_link_forward${child3}"/>
      <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
      <axis xyz="0 0 1"/>
    </joint>

    <joint name="gimbal${child4}" type="fixed">
      <limit effort="6.6" lower="-1.57" upper="1.57" velocity="3.0"/>
      <parent link="rotor_arm${child4}"/>
      <child link="gimbal_link_backward${child4}"/>
      <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- yaw joint between two body links-->
    <transmission name="yaw_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="yaw_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="servo">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>
    <xacro:friction self="base_link_head"/>
    <xacro:friction self="base_link_tail"/>
  </xacro:macro>


  <xacro:macro name="nami_thrust_link_forward" params="self rotor_direction">
    <!-- link -->
    <!-- rotor link -->
    <link name="gimbal_link_forward${self}">
    <!-- this link's cordinate is the actual gimbal -->
      <inertial>
        <origin xyz="-0.039557 0.019031 -0.071112" rpy="0 0 0"/>
        <mass value="0.330057"/>
        <inertia
            ixx="0.001282" iyy="0.001431" izz="0.001177"
            ixy="0.000312" ixz="0.000451" iyz="0.000507"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nami/urdf/quad/mesh/Rotor13.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.039505 -0.019466 -0.070657" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.12662" length="0.1578"/>
        </geometry>
      </collision>
    </link>
    <xacro:damping_factor link="gimbal_link_forward${self}"/>
  
  <!--aquatic rotor link  -->
    <link name="aquatic_rotor${self}">
    <!-- this link's cordinate is the actual gimbal -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <joint name="aquatic_parent_forward${self}" type="fixed">
      <parent link="gimbal_link_forward${self}"/>
      <child link="aquatic_rotor${self}"/>
      <origin xyz="-0.0755 -0.02587 -0.08133" rpy="${radians(-35)} 0 0"/>
      <axis xyz="1 0 0"/>
    </joint>

    <!-- rotor parent link (virtual) -->
    <link name="rotor_parent_forward${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- thrust link (virtual).
         0.01 kg instead of the usual 1e-5: even force-free, a 1e-5 kg body on a
         continuous joint sits in the same ODE constraint island as the ~3 kg hydro
         bodies underwater and the extreme mass ratio intermittently NaNs the LCP
         solve (see the aquatic thrust link note). -->
    <link name="thrust${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia
            ixx="0.00001" iyy="0.00001" izz="0.00001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>
    <xacro:damping_factor link="thrust${self}"/>

    <!-- joints -->
    <!-- rotor parent link joint (virtual) -->
    <joint name="rotor_parent_link_joint${self}" type="fixed">
      <parent link="gimbal_link_forward${self}"/>
      <child link="rotor_parent_forward${self}"/>
      <origin xyz="0 0.01007 -0.05712" rpy="${radians(10)} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- rotor joint (virtual) -->
    <joint name="rotor${self}" type="continuous">
    <!-- should change the min and max force in motor_info.yaml file -->
      <limit effort="100.0" lower="${min_force}" upper="${max_force}" velocity="0.5"/>
      <parent link="rotor_parent_forward${self}"/>
      <child link="thrust${self}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 ${rotor_direction}"/>
    </joint>


    <!-- hardware interface -->
    <!-- gimbal joint -->
    <transmission name="rotor_tran${self}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor_actuator${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  
  <xacro:macro name="nami_thrust_link_backward" params="self rotor_direction">
    <!-- link -->
    <!-- rotor link -->
    <link name="gimbal_link_backward${self}">
    <!-- this link's cordinate is the actual gimbal -->
      <inertial>
        <origin xyz="-0.039557 0.019031 -0.071112" rpy="0 0 0"/>
        <mass value="0.330057"/>
        <inertia
          ixx="0.001279" iyy="0.001449" izz="0.001158"
          ixy="-0.000307" ixz="0.000458" iyz="-0.000499"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nami/urdf/quad/mesh/Rotor24.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.039557 0.019031 -0.071112" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.12662" length="0.1578"/>
        </geometry>
      </collision>
    </link>
    <xacro:damping_factor link="gimbal_link_backward${self}"/>
  
  <!--aquatic rotor link  -->
    <link name="aquatic_rotor${self}">
    <!-- this link's cordinate is the actual gimbal -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- rotor parent link (virtual) -->
    <link name="rotor_parent_backward${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <!-- thrust link (virtual).
         0.01 kg instead of the usual 1e-5: even force-free, a 1e-5 kg body on a
         continuous joint sits in the same ODE constraint island as the ~3 kg hydro
         bodies underwater and the extreme mass ratio intermittently NaNs the LCP
         solve (see the aquatic thrust link note). -->
    <link name="thrust${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia
            ixx="0.00001" iyy="0.00001" izz="0.00001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>
    <xacro:damping_factor link="thrust${self}"/>

    <joint name="aquatic_parent_backward${self}" type="fixed">
      <parent link="gimbal_link_backward${self}"/>
      <child link="aquatic_rotor${self}"/>
      <origin xyz="-0.0755 0.02587 -0.08133" rpy="${radians(35)} 0 0"/>
      <axis xyz="1 0 0"/>
    </joint>

    <!-- joints -->
    <!-- rotor parent link joint (virtual) -->
    <joint name="rotor_parent_link_joint${self}" type="fixed">
      <parent link="gimbal_link_backward${self}"/>
      <child link="rotor_parent_backward${self}"/>
      <origin xyz="0 -0.01007 -0.05712" rpy="${radians(-10)} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

<!-- We could first only config the aerial one, then migrate to aquatic one?
I mean, first finish the cross domain flight, then focus on aquatic motion?
In this way, maybe less pressure -->
<!--  -->
    <!-- rotor joint (virtual) -->
    <joint name="rotor${self}" type="continuous">
    <!-- should change the min and max force in motor_info.yaml file -->
      <limit effort="100.0" lower="${min_force}" upper="${max_force}" velocity="0.5"/>
      <parent link="rotor_parent_backward${self}"/>
      <child link="thrust${self}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 ${rotor_direction}"/>
    </joint>

    <!-- hardware interface -->
    <!-- gimbal joint -->
    <transmission name="rotor_tran${self}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor_actuator${self}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- aquatic rotor actuator (logical motor ${motor_id} = unit ${self} + 4).
       Thrust acts along the z axis of aquatic_rotor${self} (tilted +-45 deg about x).
       Bi-directional: joint limit lower is negative so the gazebo rotor saturation
       (EffortRotorSaturationHandle) admits reverse thrust; on the real machine these
       map to motor 4~7 on pwm_htim2 (dev/bi_directional_pwm, 1500us neutral). -->
  <xacro:macro name="nami_aquatic_actuator" params="self motor_id rotor_direction">
    <!-- rotor parent link (virtual) -->
    <link name="rotor_parent_aquatic${self}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" iyy="0.000001" izz="0.000001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>

    <joint name="rotor_parent_aquatic_joint${self}" type="fixed">
      <parent link="aquatic_rotor${self}"/>
      <child link="rotor_parent_aquatic${self}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- thrust link (virtual).
         NOT the usual 1e-5 kg: these links take the full bi-directional aquatic
         thrust (up to ~25 N) while the parent bodies carry large hydrodynamic
         forces underwater. A 1e-5 kg link gives ODE a ~1:3e5 mass ratio in the
         constraint island, which intermittently fails the LCP solve and NaN-crashes
         gazebo (uuv plugin acceleration assert). 0.01 kg keeps the physics healthy
         and only adds 40 g to the model. -->
    <link name="thrust${motor_id}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia
            ixx="0.00001" iyy="0.00001" izz="0.00001"
            ixy="0.000000" ixz="0.000000" iyz="0.000000"/>
      </inertial>
    </link>
    <xacro:damping_factor link="thrust${motor_id}"/>

    <!-- rotor joint (virtual): asymmetric bi-directional force range -->
    <joint name="rotor${motor_id}" type="continuous">
      <limit effort="100.0" lower="-${aquatic_max_reverse_force}" upper="${aquatic_max_forward_force}" velocity="0.5"/>
      <parent link="rotor_parent_aquatic${self}"/>
      <child link="thrust${motor_id}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 ${rotor_direction}"/>
    </joint>

    <!-- hardware interface -->
    <transmission name="rotor_tran${motor_id}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${motor_id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="rotor_actuator${motor_id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>