<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="flamingo" >

  <xacro:include filename="$(find flamingo)/urdf/flamingo.urdf.xacro" />
  <xacro:include filename="$(find flamingo)/urdf/common.xacro" />

  <xacro:flamingo_center_link child1="1" child2="2"/>
  <xacro:flamingo_thrust_link self="1" rotor_direction="1"/>
  <xacro:flamingo_thrust_link self="2" rotor_direction="-1"/>

</robot>
