<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="birotor_common" >
  <!-- for robot model parase -->
  <!-- the spinal -->
  <baselink name="fc" />
  <!-- the rotor -->
  <thrust_link name="thrust" />

  <m_f_rate value="0.0188" /> <!-- drug torque rate -->
  <!-- aerial motor -->
  <xacro:property name="air_max_force" value="31.72" /> <!-- [N] -->
  <xacro:property name="air_min_force" value="1.0" /> <!-- [N] -->
  <!-- aquatic motor -->
  <xacro:property name="water_max_force" value="18.0" /> <!-- [N] -->
  <xacro:property name="water_min_force" va0.0188lue="1.0" /> <!-- [N] -->

  <!-- friction -->
  <xacro:macro name="friction" params="self">
    <gazebo reference="link${self}">
      <mu1>0.1</mu1>
      <mu2>0.1</mu2>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="damping_factor" params="link">
    <gazebo reference="${link}">
      <dampingFactor>0.00</dampingFactor>
    </gazebo>
  </xacro:macro>
</robot>
